.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:200%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(149, 194, 240);
}

#google-c{
    color:#156dfb;
}

.google-colors{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.header {
    font-family: "Open Sans", sans-serif;
    color:	#156dfb;
}

#emoji-left {
    margin-right: 5px;
}

#emoji-right {
    margin-left: 5px;
}

.input-box{
    float: left;
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    padding:12px;
    width: 300px;
    padding-right: 12px;
    margin-bottom: 12px;
}

.genre-box {
    float:left;
    display: flex;
    align-items: center;
    padding:12px;
}

.ratings-box{
    float: left;
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    padding:12px;
    width: 150px;
    padding-right: 12px;
}

.ratings-box img{
    height: 20px;
    width:20px;
}

.ratings-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    color: rgb(93, 84, 84);
    background-color: rgb(149, 194, 240);
}

.popularity-box{
    float: left;
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding:12px;
    width: 180px;
    padding-right: 12px;
}

.popularity-box img{
    height: 20px;
    width:20px;
}

.popularity-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    color: rgb(93, 84, 84);
    background-color: rgb(149, 194, 240);
}

.genre-dropdown {
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding:12px;
    width: 300px;
    padding-right: 12px;
    font-size: 16px;
    color: rgb(93, 84, 84);
    background-color: rgb(149, 194, 240);

}

.input-box img{
    height: 20px;
    width:20px;
}

.search-button {
    float: left;
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding:12px;
    width: 100px;
    height: 45px;
    margin-left: 10px;
    padding-right: 12px;
    background-color: rgb(149, 194, 240);
}

.search-button:hover {
    background-color:#486ac8;
    transition: 0.5s;
    border: 0px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    color: rgb(93, 84, 84);
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
    background-color: rgb(149, 194, 240);
}

.loading-screen {
    font-family: "Open Sans", sans-serif;
    color:	#156dfb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.loader {
    border: 8px solid #a8a7a7; /* Light grey */
    border-top: 8px solid #102e42; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.answer-box{
    width: 700px;
}

.game-title{
    font-family: 'Kanit', sans-serif;
    color: rgb(93, 84, 84);
}