<!doctype html>
<title>{% block title %}{% endblock %} Game Recommendation System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<meta charset="UTF-8">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="emoji-left">&#128126</h1>
                <h1 id="google-c">GAMERECS</h1>
                <h1 id="emoji-right">&#128126</h1>
            </div>
            <div class="header">
                <h3 id="info">Trying to find a new game to play? Look no further! Enter in the information below to find
                    your next favorite game!</h3>
                <h5 id="filter">Note 1: Minimum rating is from 0 to 5. Minimum players is by the thousand. For example,
                    entering in 3 will return games with at least 3 thousand players</h5>
            </div>
            <div id="inputs">
                <div class="input-box">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Input a game that you like" id="filter-title">
                </div>
                <div id="input-dropdown"></div>
                <div class="genre-box">
                    <select class="genre-dropdown" name="genres" id="genres">
                        <option value="" disabled selected hidden>Select a genre of interest</option>
                        <option value="Any">Any</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Brawler">Brawler</option>
                        <option value="Fighting">Fighting</option>
                        <option value="Indie">Indie</option>
                        <option value="MOBA">MOBA</option>
                        <option value="Music">Music</option>
                        <option value="Platform">Platform</option>
                        <option value="Puzzle">Puzzle</option>
                        <option value="Racing">Racing</option>
                        <option value="RPG">RPG</option>
                        <option value="Simulator">Simulator</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Strategy">Strategy</option>
                        <option value="Tactical">Tactical</option>
                        <option value="Turn">Turn Based Strategy</option>
                    </select>
                </div>
                <div class="ratings-box">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Minimum rating" id="filter-rating">
                </div>
                <div class="popularity-box">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Minimum players" id="filter-popularity">
                </div>
                <button id="search" class="search-button" type="button" onclick="filterText()">Search</button>
            </div>
        </div>
        <div id="loading-screen" class="loading-screen"></div>
        <div id="answer-box" class="answer-box"></div>
    </div>

    <script>
        var titles = {{ titles| safe}}
        console.log(titles)

        const inputBox = document.getElementById('filter-title')
        inputBox.addEventListener('input', () => showAutoComplete(inputBox.value))

        function showAutoComplete(search) {
            var matches = []
            if (search.length >= 3) {
                matches = titles.filter(title => {
                    const regex = new RegExp(`^${search}`, 'gi')
                    return title.match(regex)
                })
                console.log('matches: ', matches)
            } else {
                matches = []
            }
            displayResults(matches)
        }

        const dropdown = document.getElementById('input-dropdown')
        function displayResults(matches) {
            if (matches.length > 0) {
                const html = matches.map(match =>
                    `
                        <div class='results-box' onClick=setInput()>
                            <h1 id="search-title">${match}</h1>
                        </div>
                    `
                ).join('')

                dropdown.innerHTML = html
            } else {
                dropdown.innerHTML = ""
            }
        }

        function setInput() {
            const search_title = document.getElementById('search-title').textContent
            inputBox.value = search_title
        }

        function answerBoxTemplate(title) {
            return `<div class=''>
                        <h3 class='game-title'>${title}</h3>
                    </div>`
        }

        function tableTemplate(list1, list2) {
            let beg = 
            `<table class='answer-box'>
                <tr>
                    <th>Game</th>
                    <th>Reviews Sentiment</th>
                </tr>
            `
            let temp = ``
            for (let i = 0; i < list1.length; i++) {
                temp += 
                `   <tr>    
                        <td>${list1[i]}</td>
                        <td>${list2[i]}</td>
                    </tr>
                `
            }

            let end = 
            `
                </tr>
            </table`
                    
            return beg + temp + end
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            document.getElementById("loading-screen").innerHTML = ""

            let loader = document.createElement("div")
            let loaderText = document.createElement("h4")
            loader.className = "loader"
            loaderText.textContent = "Loading, please wait"
            document.getElementById("loading-screen").appendChild(loader)
            document.getElementById("loading-screen").appendChild(loaderText)

            fetch("/games?" + new URLSearchParams(
                {
                    game_title: document.getElementById("filter-title").value,
                    game_genre: document.getElementById("genres").value,
                    game_rating: document.getElementById("filter-rating").value,
                    game_players: document.getElementById("filter-popularity").value
                }).toString()
                )
            .then((response) => response.json())
            .then((data) => 
                {
                document.getElementById("loading-screen").removeChild(loader)
                document.getElementById("loading-screen").removeChild(loaderText)
                if (data.length == 0) {
                    let noResults = document.createElement("div")
                    noResults.innerHTML = answerBoxTemplate("There are no games that match your search parameters.")
                    document.getElementById("answer-box").appendChild(noResults)
                }
                else if (data !== "Game not found") {
                    let resultText = document.createElement("h4")
                    resultText.textContent = "If you like " + document.getElementById("filter-title").value + ", check out these games:"
                    document.getElementById("loading-screen").appendChild(resultText)
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = tableTemplate(data[0], data[1])
                    document.getElementById("answer-box").appendChild(tempDiv)

                }
                else {
                    let gameError = document.createElement("div")
                    gameError.innerHTML = answerBoxTemplate("Game not found! Please check the game spelling or enter something else!")
                    document.getElementById("answer-box").appendChild(gameError)
                }
            })

        }

    </script>
</body>